.calculator {
    width: 250px;
    margin: 0 auto;
}

    .calculator input[type="text"] {
        width: 100%;
        padding: 10px;
        font-size: 18px;
    }

    .calculator table {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #373; /* Change border color to a darker shade */
    }

        .calculator table tr, .calculator table td {
            border: 1px solid #ff6a00; /* Change border color to a darker shade */
        }

        .calculator table td {
            padding: 10px;
            text-align: center;
            cursor: pointer;
        }

.display {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.result {
    font-size: 20px;
    font-weight: bold;
    color: #009900;
}

.row {
    display: flex;
    justify-content: space-between;
}

.clear {
    background-color: #fff000;
    color: #fff;
}
